# Python
__pycache__/
*.py[cod]
*$py.class

# Python virtualenv
.env
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a CI script
#  and should be ignored
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Keras / TensorFlow / PennyLane
keras_tuner_dir/
keras_tuner_qml_dir/
*checkpoint.keras # e.g., neural_net_model_checkpoint.keras, quantum_model_checkpoint.keras

# Trained models and scalers (often large, consider Git LFS if you need to version them)
*.keras
*.weights.h5
*.joblib 
# If you want to version specific scalers or smaller joblib files,
# you can explicitly un-ignore them, e.g.:
# !feature_scaler_qml.joblib
# !target_scaler_qml.joblib
# !best_nn_hps.joblib
# !best_qml_only_hps.joblib
# !feature_scaler_nn.joblib
# !target_scaler_nn.joblib
# !feature_scaler_xgb.joblib
# !target_scaler_xgb.joblib

# Generated output files
#*_optimizer_pareto_fronts.csv # e.g., qml_optimizer_pareto_fronts.csv, nn_optimizer_pareto_fronts.csv
#optimizer_pareto_fronts.csv # For baseline_optimizer
requirements.csv # Generated by mbse_utils
system_model.xmi # Generated by mbse_utils

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
*.log

# Old
old/
